{
  "presets": [
    ["es2015", {
      "modules": false
    }]
  ],
  "plugins": [
    "transform-class-properties",
		"transform-object-rest-spread",
		"inferno"
  ],
  "env": {
    "test": {
      "presets": ["es2015"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
