{
  "presets": [
    ["es2015", {
      "modules": false
    }]
  ],
  "plugins": [
    ["inferno", {
      "imports": true
    }]
  ],
  "env": {
    "test": {
      "presets": ["es2015"]
    }
  }
}
