{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:inferno/recommended"
  ],
  "rules": {
    "no-use-before-define": "off",
    "object-curly-spacing": "off",
    "padded-blocks": "off",
    "prefer-template": "off"
  }
}
