{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:inferno/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "rules": {
    "padded-blocks": "off",
    "prefer-template": "off"
  }
}
